name: build

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Git checkout
      uses: actions/checkout@v2
    - name: Gradle cache
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Setup JDK
      uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: 17
    - name: Build
      run: ./gradlew --no-daemon build
    - name: Upload artifact
      uses: actions/upload-artifact@v2-preview
      with:
        name: wrapper
        path: |
          build/libs/*.jar
          build/dist/*.zip

  upload:
    if: "github.ref == 'refs/heads/stable' && startsWith(github.event.head_commit.message, '[create release] ')"

    runs-on: ubuntu-latest
  
    needs: build
    
    steps:
    - name: Git checkout
      uses: actions/checkout@v2

    - name: Download artifacts
      uses: actions/download-artifact@v2

    # https://stackoverflow.com/a/61919791
    - name: Retrieve version
      run: echo "::set-output name=version::$(cat version.txt)"
      id: version

    - name: Create a release
      uses: marvinpinto/action-automatic-releases@latest
      env:
        GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: ${{ steps.version.outputs.version }}
        prerelease: false
        title: ${{ steps.version.outputs.version }}
        files: |
          wrapper/*
